<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link  rel="icon"   href="../img/libros.png" type="image/png" />
    <title>Primaria - Sexto Grado</title>
</head>
<body>
     <!-- Barra de Navegación -->
         <!-- Barra de Navegación -->
         <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="nav">
            <div class="container">
                <div aling="left" class="logo"><img src="../../img/libros-logo.png" alt="log"o></div>
                
                <a class="navbar-brand" href="#"><span class="we">We</span> <span class="learn">Learn</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="/principal" class="nav-link">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a href="/perfil" class="nav-link">Mi Perfil</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="#catalogo" class="nav-link"> Libros Descrgas</a>
                        </li> -->
                        <li class="nav-item">
                            <a href="/logout" class="nav-link">Cerrar Sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    <div class="container lista">
        <div class="row">
            <h1 class="text-center">Sexto Grado de Primaria</h1>
        </div>

        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 py-3">
                <div class="card ">
                    <div class="card-header text-center ">
                        Espa&ntilde;ol
                    </div>
                    <img src="../img/libros-primaria/sexto/espanol.jpg"  class="card-img-top img-fluid py-2"   alt="Español">
                    <div class="card-footer">
                        <p class="card-text text-center">Editorial: SEP</p>
                        <div class="text-center border-dark">
                            <a target="_blank" href="https://online.flippingbook.com/view/763367/" class="btn btn-success text-white">Leer Libro</a>
                            <a class="btn btn-success text-white" download="Español 6°" href="La cenicienta.pdf">Descargar</a>
                        </div>     
                    </div>
                    
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 py-3">
                <div class="card ">
                    <div class="card-header text-center ">
                       Lecturas
                    </div>
                    <img src="../img/libros-primaria/sexto/lecturas.jpg"  class="card-img-top img-fluid py-2"   alt="Lecturas">
                    <div class="card-footer">
                        <p class="card-text text-center">Editorial: SEP</p>
                        <div class="text-center border-dark">
                            <a target="_blank" href="https://online.flippingbook.com/view/763367/" class="btn btn-success text-white">Leer Libro</a>
                            <a class="btn btn-success text-white" download="Lecturas 6°" href="La cenicienta.pdf">Descargar</a>
                        </div>     
                    </div>
                    
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 py-3">
                <div class="card ">
                    <div class="card-header text-center ">
                        Ciencias Naturales
                    </div>
                    <img src="../img/libros-primaria/sexto/ciencias_naturales.jpg"  class="card-img-top img-fluid py-2"   alt="Ciencias Naturales">
                    <div class="card-footer">
                        <p class="card-text text-center">Editorial: SEP</p>
                        <div class="text-center border-dark">
                            <a target="_blank" href="https://online.flippingbook.com/view/763367/" class="btn btn-success text-white">Leer Libro</a>
                            <a class="btn btn-success text-white" download="Ciencias Naturales 6°" href="La cenicienta.pdf">Descargar</a>
                        </div>     
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 py-3">
                <div class="card ">
                    <div class="card-header text-center ">
                        Desaf&iacute;os Matem&aacute;ticos
                    </div>
                    <img src="../img/libros-primaria/sexto/desafios_matematicos.jpg"  class="card-img-top img-fluid py-2"   alt="Desafíos Matemáticos">
                    <div class="card-footer">
                        <p class="card-text text-center">Editorial: SEP</p>
                        <div class="text-center border-dark">
                            <a target="_blank" href="https://online.flippingbook.com/view/763367/" class="btn btn-success text-white">Leer Libro</a>
                            <a class="btn btn-success text-white" download="Desafíos Matemáticos 6°" href="La cenicienta.pdf">Descargar</a>
                        </div>     
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 py-3">
                <div class="card ">
                    <div class="card-header text-center ">
                        Historia
                    </div>
                    <img src="../img/libros-primaria/sexto/historia.jpg"  class="card-img-top img-fluid py-2"   alt="Historia">
                    <div class="card-footer">
                        <p class="card-text text-center">Editorial: SEP</p>
                        <div class="text-center border-dark">
                            <a target="_blank" href="https://online.flippingbook.com/view/763367/" class="btn btn-success text-white">Leer Libro</a>
                            <a class="btn btn-success text-white" download="Historia 6°" href="La cenicienta.pdf">Descargar</a>
                        </div>     
                    </div>
                    
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 py-3">
                <div class="card ">
                    <div class="card-header text-center ">
                        Geograf&iacute;a
                    </div>
                    <img src="../img/libros-primaria/sexto/geografia.jpg"  class="card-img-top img-fluid py-2"   alt="Geografía">
                    <div class="card-footer">
                        <p class="card-text text-center">Editorial: SEP</p>
                        <div class="text-center border-dark">
                            <a target="_blank" href="https://online.flippingbook.com/view/763367/" class="btn btn-success text-white">Leer Libro</a>
                            <a class="btn btn-success text-white" download="Geografía 6°" href="La cenicienta.pdf">Descargar</a>
                        </div>     
                    </div>
                    
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 py-3">
                <div class="card ">
                    <div class="card-header text-center ">
                        Actividades de Geograf&iacute;a
                    </div>
                    <img src="../img/libros-primaria/sexto/actividades_geografia.jpg"  class="card-img-top img-fluid py-2"   alt="Actividades Geografía">
                    <div class="card-footer">
                        <p class="card-text text-center">Editorial: SEP</p>
                        <div class="text-center border-dark">
                            <a target="_blank" href="https://online.flippingbook.com/view/763367/" class="btn btn-success text-white">Leer Libro</a>
                            <a class="btn btn-success text-white" download="Actividades Geografía 6°" href="La cenicienta.pdf">Descargar</a>
                        </div>     
                    </div>
                    
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 py-3">
                <div class="card ">
                    <div class="card-header text-center ">
                        C&iacute;vica y &Eacute;tica
                    </div>
                    <img src="../img/libros-primaria/sexto/formacion_civica_etica.jpg"  class="card-img-top img-fluid py-2"   alt="Civica y Ética">
                    <div class="card-footer">
                        <p class="card-text text-center">Editorial: SEP</p>
                        <div class="text-center border-dark">
                            <a target="_blank" href="https://online.flippingbook.com/view/763367/" class="btn btn-success text-white">Leer Libro</a>
                            <a class="btn btn-success text-white" download="Formación Civica y Etica 6°" href="La cenicienta.pdf">Descargar</a>
                        </div>     
                    </div>
                    
                </div>
            </div>

        </div>
    </div>

    

    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>